aside a{
    color:#DDD;
}

aside li:hover{
    border: solid #3D7 1px;
    background-color: #3D7;
    border-radius: 10px;
    margin:10px;
} 

footer{
    position: absolute;
    bottom: 0;
    color: #DDD;
}

.navbar{
    border-top: solid 10px #27aae1;
    border-bottom: solid 10px #27aae1;
}

.navbar .navbar-brand{
    background-color: #27aae1;
}

